
.container_dash {
  position: relative;
  width: 80%;
  height: 105rem;
  left: 14.5%;
}

.dashboard {
  position: absolute;
  top: 50px;
  color: white;
  font-size: 15px;

    h1 {
    font-size: 25px;
  }
}

.content-dash {
  position: absolute;
  display: flex;
  margin: 50px 0;

  #ct {
    background-color: #f3f3f3;
    box-shadow:  0 0 8px 1px #f3f3f3;
    width: 270px;
    height: 120px;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 20px ;
    text-decoration: none;
  }
}

#ct:hover {
  background-color: #ffa901;
  color: white;
}
    .title {
      display: flex;
      align-items: center;
      margin: 0 0 20px;
      h2 {
        padding-left: 6rem;
        font-size: 25px;
      }
    }

    .revenu {
          position: absolute;
          margin: 60px 0;
          top: 250px;
      #rev-h1 {
        color: #f3f3f3;
        font-size: 20px;
      }
          .bar-income {
            margin: 30px;
            width: 1150px;
            height: 550px;
            display: flex;
            justify-content: center;
          }
        }

    #revenu-bar {
      background-color: #f3f3f3;
      border-radius: 15px;
      margin:  0  0  0 20px;
    }

.depense {
  position: absolute;
  margin: 40px 0;
  top: 1000px;
    #dep-h1 {
    color: #f3f3f3;
    font-size: 20px;
  }
  .bar-expense {
    margin: 30px;
    width: 1150px;
    height: 550px;
    display: flex;
    justify-content: center;
  }
}

#depense-bar {
  background-color: #f3f3f3;
  border-radius: 15px;
  margin:  0  0  0 20px   ;
}