.container_dash {
  position: relative;
  width: 80%;
  height: 44rem;
  left: 13%;
}

.dashboard {
  position: absolute;
  top: 10px;
  width: 50rem;
  color: white;
  font-size: 15px;
  padding: 0 20px;

  h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.content-dash {
  position: absolute;
  display: flex;
  margin: 30px -11px;
  #ct {
    background-color: #ffffff;
    width: 280px;
    border-radius: 5px;
    margin: 0px 18px;
    padding: 20px;
    text-decoration: none;
    color: black;
  }
}

#ct:hover {
  background-color: #ffa901;
  color: white;
}
.title {
  display: grid;
  // margin: 0 0 20px;
}

.revenu {
  position: absolute;
  margin: auto 25px;
  padding: 20px;
  top: 41vh;
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 105%;
  height: 55vh;
}
