.container_all_pay {
  position: relative;
  width: 80%;
  height: 43.5rem;
  left: 16%;
  padding-top: 45px;

  span {
    margin: 20px;
    color: #4d00e4;
  }

  .container_link_pay {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background-color: #fafafa;
    border-radius: 150px;
    padding: 0 70px 0 35px;
  }


  .container_search_pay {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 20px;

  }

}
