  #back {
    margin: 20px;
    color: white;
    width: 40px;
    height: 30px;
  }

.container {
  position: relative;
  height: 1000px;
  width: 80%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  margin: 50px 0;
}
    span {
      margin: 20px;
      color: #4d00e4;
    }
  #container_h1 {
    color: #5800ff;
    font-size: 25px;
    padding: 20px;
  }


.search_bar {
  position: relative;
  display: inline-flex;
  //justify-content: center;
  align-items: center;
  margin:  0 0 40px;
  border-radius: 15px;
  background-color: white;
  height: 80px;
  width: 100%;
    #search_bar {
      background-color: white;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
      padding: 10px 60px 10px 10px ;
      width: 500px;
      margin:  0 500px 0 0;
      border-radius: 100px;
      appearance: none;
      border: none;
      font-size: 19px;
      outline: none;
    }
  #search_bar[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  #icon_search {
    position: relative;
    width: 40px;
    height: 30px;
    color: #5800ff;
    left: 390px;
  }

  #button_add_el {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #5800ff;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    width: 150px;
    margin: 0 50px 0 80px;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    #btn_add_el {
      width: 30px;
      height: 20px;
    }
    &:hover {
    background-color: #ffa901;
    }
  }

}

  .table_el {
    position: relative;
    display: block;
    justify-content: center;
    table-layout: auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    white-space: nowrap;
    width: 1350px;
    max-width: 100%;
    height: 600px;
    left: 50%;
    translate: (-50%);
    border: none;
    overflow-x: auto ;

    thead {
      background-color: #5800ff;
      color: #fafafa;
    }

    th, td {
      padding: 0.9rem;
    }

    td {
      border-top: 2px solid #ffa901;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    tbody tr:hover {
      background-color: #eaeaea;
    }
  }

  .expand_el {
    width: 30%;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: #ff2e2e;
    #nav {
      color: #5800ff;
    }
  }


  .container_link_el {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 1%;
    left: 10%;
    width: 80%;
    background-color: #fafafa;
    margin-bottom: 80px;
    border-radius: 15px;
    padding: 0 50px 0 20px;
  }
  .link_el {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: #330096;
    &:hover {
      color: #4d00e4;
    }
  }


