  #back {
    margin: 20px;
    color: white;
    width: 40px;
    height: 30px;
  }


.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.search_bar {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 30px;
  left: 43%;
  translate: (-50%);
    #search_bar {
      appearance: none;
      padding: 10px 70px;
      width: 900px;
      background-color: white;
      border-radius: 5px;
      border: none;
      font-size: 19px;
      margin: 0 50px;
    }
  #icon_search {
    position: relative;
    width: 40px;
    height: 30px;
    color: #5800ff;
    left: 100px;
  }

  button {
    padding: 10px;
    border: none;
    background-color: white;
    color: #5800ff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin: 0 30px 0 20px;
    text-transform: capitalize;
    cursor: pointer;
  }

}

  .table {
    position: relative;
    display: block;
    justify-content: center;
    table-layout: auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    white-space: nowrap;
    width: 1350px;
    max-width: 100%;
    height: 600px;
    left: 50%;
    translate: (-50%);
    border: none;
    overflow-x: auto ;

    thead {
      background-color: #5800ff;
      color: #fafafa;
    }

    th, td {
      padding: 0.9rem;
    }

    td {
      border-top: 2px solid #ffa901;
      //overflow: hidden;
      //text-overflow: ellipsis;
    }

    tbody tr:hover {
      background-color: #eaeaea;
    }
  }

  .expand {
    width: 100%;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: #ff2e2e;
    #nav {
      color: #5800ff;
    }
  }




