.home {
  display: flex;
  flex-direction: column;
}
.test {
  color: white;
  text-decoration: none;
  font-size: 35px;
}

div .hm,.pi,.pa,.ca{
  background-color: gold;
  width: 200px;
  height: 100%;
  //padding: 150px 20px 30px;
}