.container_addPaie {
  width: 100%;
  height: 100vh;
  padding: 20px 0px 0 219px;
  .addPaie_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76rem;
    height: 3rem;
    border-radius: 15px;
    padding: 0 50px 0 30px;
    background-color: white;

    .link_Addpaie {
      text-decoration: none;
      font-weight: 500;
      font-size: 17px;
      color: #330096;
      margin: 15px;

      &:hover {
        color: #4d00e4;
      }
    }
  }

  .body_add {
    background-color: white;
    width: 76rem;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin: 50px 0;
    h2 {
      color: #4d00e4;
    }
    #add_list {
      display: flex;
      align-items: center;

      button {
        width: 8.5rem;
        height: 2.5rem;
        border: none;
        background-color: #4d00e4;
        color: white;
        font-size: 20px;
        font-weight: 500;
        border-radius: 100px;
        cursor: pointer;
        &:hover {
          background-color: #ffa901;
        }
      }
    }

    #bt {
      background-color: #4d00e4;
      width: 12.5rem;
      height: 2.5rem;
      color: #fafafa;
      font-size: 20px;
      border-radius: 100px;
      border: none;
      margin: 0 0 0 550px;
      cursor: pointer;
      &:hover {
        background-color: #ffa901;
      }
    }

    #sr,
    #vr,
    #bl,
    #ma,
    #st {
      width: 21.6rem;
      height: 2.8rem;
      margin: 20px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;
      font-size: 19px;
      background-color: #fafafa;
    }
    #sr {
      width: 60rem;
    }
  }
  
}
