.container_edit {
  width: 100%;
  height: 150vh;
  padding: 30px 0px 0 219px;
  .edit_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76rem;
    height: 3.2rem;
    border-radius: 15px;
    padding: 0 90px 0 20px;
    background-color: white;
    .link_Addpaie {
      text-decoration: none;
      font-weight: 500;
      font-size: 17px;
      color: #330096;
      &:hover {
        color: #4d00e4;
      }
    }
  }

  #stud_info {
    background-color: white;
    width: 76rem;
    height: auto;
    margin: 50px 0;
    padding: 30px;
    display: flex;
    border-radius: 15px;
    h2 {
      text-transform: capitalize;
      color: #330096;
    }
    #icon_fees {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
      border-radius: 10px;
      width: 185px;
      height: 195px;
      margin-top: 45px;
      margin-left: -120px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

      #icon {
        width: 180px;
        height: 180px;
        color: #330096;
      }
    }
    #info {
      // display: flex;
      margin: 60px 0 0 150px;

      #list_info {
        display: flex;
        align-items: self-end;
        justify-content: space-between;
        padding: 0 0 20px 0;

        h3 {
          color: #330096;
          margin: 0 50px 0 0;
        }
      }
    }
  }

  #fees_info {
    background-color: white;
    width: 76rem;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    h2 {
      color: #330096;
      text-transform: capitalize;
    }


  }

  
}
