//.container {
//  max-width: 612px;
//  max-height: 852px;
//  background-color: red;
//}
  .container_img {
    height: 400px;
    width: 300px;
    background-color: #FFA901;
    border-radius: 15px ;
  }

#img_roberval {
  width: 500px;
  height: auto;
  justify-content: center;
}